%h4 1 blog post per week. 2 bloggers per pact. $5 for every week missed. Blogpactly.

%p You blog. I blog. We all blog. Blogging is good for the brain, your emotions, your net work and your net worth. So we all blog loads right?

%p No. We don't. We need to blog more. Friends are good for that. Friends can make pacts with each other. Pacts like this:

%p 
  1 post per week.
  %br
  I give you $5 if you blog and I don't.
  %br
  You give me $5 if things are the other way round.
  %br
  If we both blog - none of us owe each other nothin'!

%p That's a good pact. One you want to use. So it's very lucky for you that Blogpactly exists. Blogpactly ties all things in with your RSS feed - so it can be the law enforcer bugging you and your friends for money.

%p 
  = link_to "Start a blogpact ♥ ", new_user_registration_path, class: "btn btn-main btn-success"