= simple_form_for RssFeed.new do |f|
  = f.input :title, input_html: { class: "span12", placeholder: "Blog title" }, label: false
  = f.input :url, input_html: { class: "span12", placeholder: "Feed url" }, label: false
  = f.submit "Save", class: "btn btn-success btn-main"